@media (min-width: 740px) and (max-width: 1023px) {
    .slide-show__item {
        background-size: contain;
    }

    .card-info-item {
        width: 48%;
    }
    
    .card-info-item {
        padding: 30px 20px;
    }

    .about-video {
        height: 50%;
        align-content: flex-start;
    }
    
    .about-content-list__title {
        font-size: 1.7rem;
    }

    .our-project-card {
        width: 48%;
        margin-top: 20px;
    }
    
    .latest-news-card {
        width: 48%;
    }
}

@media (max-width: 739px) {
    .slide-show__item {
        background-size: contain;
    }
}